name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and Start Containers
        run: docker-compose up -d --build

      - name: Wait for App to be ready
        run: |
          # Frontend එක පණ ගන්නකම් තත්පර 30ක් ඉන්නවා
          sleep 30

      - name: Run Playwright Tests inside Docker
        run: docker-compose run tests npx playwright test
