name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build and Start Containers
        # මෙතන 'docker-compose' වෙනුවට 'docker compose' කියලා මාරු කළා
        run: docker compose up -d --build

      - name: Wait for App to be ready
        run: sleep 30

      - name: Run Playwright Tests inside Docker
        # මෙතනත් මැද ඉර අයින් කළා
        run: docker compose run tests npx playwright test
